<!-- Begining Call To Action  -->
	<section class="banner">

		<!-- <img src="../../assets/images/header/header2.jpg" alt="BannerImage"> -->
	<div class="hero">
		<h1>Welcome to Ortho</h1>
		<p>We provide services for knee replacement and reconstruction <br/>If you are looking for world class treatment, you are at the right place<br/>Lets get started</p>

		<a href="" class="primary-color cta1">Log In</a><a href="" class="secondary-color cta2">Contact</a>
	</div>
		
	</section>

<!-- /Call To Action -->


<!-- Begining Our Services  -->
	<section class="services section-padding">
		<div class="services-heading">
			<h2>Our Services</h2>
			<p>We provide services for knee replacement and reconstruction <br/>If you are looking for world class treatment, you are at the right place</p>
		</div>
		<div class="services-content">
			<div class="row">
				<div class="col-md-4">
					<p><i class="fa fa-user-md" aria-hidden="true"></i></p>
					<h3>Knee Replacement</h3>
					<p>We provide services for<br/> knee replacement and reconstruction</p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-user-md" aria-hidden="true"></i></p>
					<h3>Knee Reconstruction</h3>
					<p>We provide services for<br/> knee replacement and reconstruction</p>
				</div>
				<div class="col-md-4">
					<p><i class="fa fa-user-md" aria-hidden="true"></i></p>
					<h3>Pain Management</h3>
					<p>We provide services for<br/> knee replacement and reconstruction</p>
				</div>
			</div>
		</div>
	</section>
	<br/>


<!-- /Our Services -->

<!-- Begining Latest Blog  -->
	<section class="blogs">
		<div class="blogs-bg section-padding">

			<div class="blogs-heading center">
				<h2 class="blog-h2">Recent Blogs</h2>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-4 blog-area">
						<h3 class="post-name"><a href="#"><b>Knee Replacement Surgery – an Overview</b></a></h3>
						<p class="post-description"><i>by</i> <span class ="important-text"><b>Dr.Rajendran</b></span> <i>on</i> <i><b class="date">18 January 2015</b></i></p>

						<p class="post-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<a href=" " target="_blank"> Read more...</a></p>
					</div>
				
					<div class="col-md-4 blog-area">
						<h3 class="post-name"><a href="#"><b>How can I manage pain after my total knee replacement surgery?</b></a></h3>
						<p class="post-description"><i>by</i> <span class ="important-text"><b>Dr.Rajendran</b></span> <i>on</i> <i><b class="date">18 January 2015</b></i></p>

						<p class="post-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. <a href=" " target="_blank"> Read more...</a></p>
					</div>
				
					<div class="col-md-4 blog-area">
						<h3 class="post-name"><a href="#"><b>How long does it take to recover from total knee replacement surgery?</b></a></h3>
						<p class="post-description"><i>by</i> <span class ="important-text"><b>Dr.Rajendran</b></span> <i>on</i> <i><b class="date">18 January 2015</b></i></p>

						<p class="post-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.  <a href=" " target="_blank"> Read more...</a></p>
					</div>
				</div>
			</div>
		</div>	
	</section>


<!-- /Latest Blog -->


		<!-- Begining About Doctors  -->


		<!-- /About Doctors -->

		<!-- Begining Clients Testimonial  -->


		<!-- /Clients Testimonial -->

<!-- Begining Contact Us  -->
	<section class="contact">
		<div class="contact-bg section-padding">
			<div class="contact-heading center">
					<h2>Contact Us</h2>
					<p>Contact Us to become a member</p>
			</div>

			<form action="">
				<div class="form-group">
					<label for="Name"><span class="sr-only">Name</span>
		        		<input class="full form-control" id="Name" type="text" placeholder="Name" required>
		      		</label>
				</div>

				<div class="form-group">

	      			<label for="Email"><span class="sr-only">Email</span>
	        			<input class="full form-control" id="Email" type="text" placeholder="Email" required>
	      			</label>
	      		</div>
	
				<div class="form-group">
		      		<label for="Subject"><span class="sr-only">Subject</span>
		        		<input class="full form-control" id="Subject" type="text" placeholder="Subject" required>
		      		</label>
				</div>

				<div class="form-group">
		      		<label for="Message"><span class="sr-only">Message</span>
		        		<textarea rows="7" cols="30" class="full form-control" id="Message" type="text" placeholder="Message" required></textarea>
		      		</label>
		      	</div>

				<div class="form-group submit">
	      			<button class="btn btn-primary" type="Submit">Submit</button>
	      		</div>
			</form>
		</div>
		 <!-- background image obtained from subtlepatterns.com -->
	</section>


<!-- /Contact Us -->

