<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4 footer-content">
					<h2>About Ortho</h2>
					<p>We provide services for <b class="important-text">knee replacement</b> and <b class="important-text">knee reconstruction</b>. If you are looking for world class treatment, you are at the right place</p>
				</div>

				<div class="col-md-4 footer-content">
					<h2>Get Latest Blogs</h2>
					<p></p>
					<form class="subscribe" action="">
						<div class="form-group">
						<label for="getblog"><span class="sr-only">getblog</span>
		        		<input class="form-control" id="getblog" type="text" placeholder="enter your email address to get our latest news">
		      			</label>
						</div>
						
    					<div class="signup">
      					<button type="submit" class="btn btn-danger">Sign Up</button>
    					</div>
					</form>
				</div>

				<div class="col-md-4 footer-content">
					<h2>Contact</h2>
					<p><i class="fa fa-address-card"></i><span class="address">111, Hospital Street, Thanjavur</span></p>
					<p><i class="fa fa-phone"></i><span class="phone">+91 123456789</span></p>
					<p><i class="fa fa-envelope"></i><span class="email">ortho@ortho.com</span></p>

				</div>
				
			</div>
		</div>

		<div class="copyright">
			<p>&copy; Copyright 2016 - <script>document.write(new Date().getFullYear())</script>.  All rights reserved. </p>
		</div>

	</footer>