<header>
		<div class="container">
			<div class="row">
				<a class ="logo" href="/sessions/index"> <img src=""/><strong>Ortho</strong></a>
				<nav class="menu" id="menu">
					<ul>	
						<li><a href="#">Services</a></li>
	
						<li><a href="#">About</a></li>

						<li><a href="#">Blog</a></li>

						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				
			</div>	
		</div>
	</header>